.app {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.layout {
    width: 100%;
    max-width: 1420px;
    padding: 32px;
    margin: 0 auto;
}

.pageWrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 80px auto;
}

