.playlistsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    overflow-y: scroll;
    max-height: 60vh;
}

.playlistsPageContainer {
    display: flex;
    flex-direction: column;
}