.container {
    border-bottom: 1px solid black;
    padding-left: 100px;
}

.sidebar {
    max-width: 310px;
    width: 100%;
}

.list {
    display: grid;
    grid-auto-rows: auto;
}

.activeLink {
    font-weight: bold;
}